body{
    background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat:no-repeat;
    background-attachment:fixed;

}   

hr{
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-color:grey;
    border-width: 5px;
    width: 5%;
}
h1{
    color: rgb(2, 2, 68);
}
h3{
    color: red;
}
h2{
    color: red;
}
button{
    background-color:blue ;
    color: white;

}
.joindbtn{
    width: 10em;
    height: 5ex;
    background-color: gold;
    border: 2px solid firebrick;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.joindbtn:hover{
    background-color: bisque;
}



